body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-card {
    background: rgb(60, 206, 164);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.logo h2 {
    color: #e67e22;
}

h3 {
    margin-bottom: 1rem;
    color: #333;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-control:focus {
    outline: none;
    border-color: #e67e22;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.form-actions a {
    color: #e67e22;
    text-decoration: none;
    font-size: 0.9rem;
}

.btn-login {
    background-color: #e67e22;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #d35400;
}

.heding_h1 {
    color: #555;
}