.caption-settings {
    text-align: center;
    margin: 20px 0;
  }
  
  .caption-preview {
    margin-top: 15px;
    padding: 10px;
    text-align: center;
  }
  
  
  .high {
    background-color: black;
    color: yellow;
  }

 